<div class="hold-transition login-page">
  <div class="login-box">
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">尚硅谷广告管理系统</p>

        <form>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="请输入管理员账号" id="username" />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="请输入管理员密码" id="password" />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block" id="loginBtn">登录</button>
        </form>
      </div>
    </div>
  </div>
</div>